#header h1, #loading h1, #error h3 {
	text-align: center;
}

.tabs-open {
	height: 30vh;
}

.tabs-closed {
	height: 5vh;
}

#map-container {
	width: 100%;
}

#upDown {
	width: 20px;
	height: 20px;
	margin: 0 auto;
}

#up, #down {
	display: table-cell;
}

.map-tab-open {
	height: 70vh;
}

.map-tab-closed {
	height: 95vh;
}

#up, #down {
	width: 100%;
	height: 100%;
}

#upDown:hover {
	color: blue;
}

#info-container {
	padding: 10px;
}

#inf {
	padding: 0px;
}

.col-xs-12#mapCont {
	padding: 0;
}

@media screen and (orientation: portrait) {
	.map-tab-open {
		height: 400px;
	}

	.map-tab-closed {
		height: 500px;
	}

	.tabs-open {
		height: 100px;
	}

	.tabs-closed {
		height: 10px;
	}
}

@media screen and (orientation: landscape) and (max-width: 960px) {
	.map-tab-open {
		height: 270px;
	}

	.map-tab-closed {
		height: 540px;
	}

	.tabs-open {
		height: 270px;
	}

	.tabs-closed {
		height: 270px;
	}
}

#chart, #information {
	margin: 0
}
